<div class="row">
  <div class="col-md-6 offset-md-3">
   <h2>{{inEditMode ? 'Update User' : 'Add New User'}}</h2>
    <form [formGroup]="userForm" (ngSubmit)="onUserCreate()">
      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" formControlName="userName" class="form-control" />
      </div>
      <div class="form-group">
        <label for="userRole">User Role</label>
        <select id="userRole" 
        placeholder="Plz select userrole"
        formControlName="userRole" class="form-control">
          <option value="">Plz select userrole</option>
          <option value="admin">As a Admin</option>
          <option value="user">As a User</option>
        </select>
      </div>

      <div class="text-right">
        <button type="button"
        *ngIf="inEditMode"
        class="btn btn-outline-success"
        (click)="onUserUpdate()"
        >Update User</button>
        <button type="submit"
        *ngIf="!inEditMode"
        class="btn btn-outline-success">Add User</button>
      </div>
    </form>
  </div>
</div>
